BeautifulSoup==3.2.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==5.4
Pygments==2.0.1
Sphinx==1.2.3
argh==0.26.1
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
docutils==0.12
livereload==2.2.0
pathtools==0.1.2
requests==2.5.0
sphinx-autobuild==0.3.0
tornado==4.0.2
watchdog==0.8.2
wsgiref==0.1.2
